{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load socialaccount %}
<div class="container mt-5 register-container ">
    <div class="register-image-container">
        <img class="register-image" src="{% static 'images/register.jpg' %}" alt="">
    </div>
    <div class="form-container ">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="bd bottom mb-3">
                    <h2>Login Into Your Account</h2>
                </div>
                <div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{message}}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{form|crispy}}
                </div>
            </fieldset>
            <div class="form-bottom ">
                <p class="mr-2">
                    New User?
                    <a href="{% url 'users:register' %}">Sign Up</a>
                </p>
                <button class="btn btn-primary">Sign In</button>
            </div>
            <div class="d-flex justify-content-end mb-4">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
        </form>
        <a class="btn btn-danger text-center d-flex align-items-center justify-content-center text-center"
            href="{% provider_login_url 'google' %}">Sign in with Google</a>
    </div>
</div>

{% endblock %}